
.column{
    float: left; 
    text-align: center;
    float: left;
    border-bottom-left-radius: 10px gry;
    background-color: #cccccc;
}
img{
    border-bottom-right-radius: 50%;

}
.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}


