

h1{
      
        /* font-family:arial;
        font-size: 50px; */ */
      }

      body {
       height: 125vh; 
        background-size: cover;
        font-family: sans-serif;
        margin-top: 8px;
        margin-left: 70px;
        font-size: 22px;
        

        background-image: url(web9.jpeg);
        color: seashell;
        margin: 90px;
        border-radius: 45%;
        box-shadow: 10px 10px 4px rgb(113, 115, 122);
        background-color: rgb(248, 240, 240); 
        
    }
    h1 {
        text-align:left;
        font-size: 10%;
        padding: 5% 0;
        }
    
    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 1px 0;
      }
      .column {

        /* margin: 70px;
        border-radius: 30%;
        box-shadow: 10px 10px 4px rgb(113, 115, 122);
        background-color: rgb(248, 240, 240); */

    
    
      }
      img{
        border-radius: 60px;
      }
      .topnav {
        /* background-color: #333;
        overflow: hidden; */
      }
      .navigation {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color:ghostwhite;
        padding: 14px 16
      }
        h1 {
         display: inline;
          margin: 0 50px;
          font-family: arial black;
          text-align: justify;
          letter-spacing: 0; 
          /* font-weight: 400; */
          font-size: 5em; 
        }
        h3{
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 4em;
          /* text-emphasis-color: rgba(113, 139, 127, 0.747); */
          text-align: center;
        }
        /* p{
          font-size: 5ex; */
        }








